
#map {
    height: 450px;
    width: 100%;
    margin-top: 200px;
    }
h1 {
    color: #ff8932;
}   
.hh {
    float: left;
    margin-inline-start: 400px;
    margin-inline-end: 650px;
    margin-top: 100px;
}
i {
    margin: 4px;
    display: inline-block;
}
p {
    display: inline-block;
    margin-inline-end: 1000px;
    color: white;

}
body {
    background-color: rgb(29, 29, 43);
}
h3 {
    color: white;
    text-align: center;
    line-height: 3;
    margin-bottom: 200px;
}
.grid-item1 {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 15px;
  
}
.grid-item2 {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 15px;
}
.grid-item3 {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 15px;
}
.grid-item4 {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 15px;
    
}
.grid-item5 {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 15px;
}
.grid-item6 {
    margin-bottom: 30 px;
    
}
.grid-item7 {
    border-style: solid;
    border-color: white;
    color: rgba(34, 30, 30, 0.815);
    text-align: center;
    background-color: white;
    padding: 13px 0px;
    margin-top: 15px;
}
.grid-item7:active {
    content: " ";
    position: absolute;
    }
footer {
    margin-inline-start: 10px;
    background-color: gray;
    margin-top: 100px;
    padding: 1px;
}
form {
    display: grid;
    width: 200px
    margin: 0 auto;
}
.grid-container {
    display: inline-grid;
    grid-template-rows: 30px 30px;
    margin-top: 100px;
    position: relative;
    
}
input {
    width: 400px;
    background: rgb(29, 29, 43);
    color: gray;
    height: 30px;
}
.grid-item6 > input {
    height: 100px;
   }
:root {
    --main-bg-color: gray; 
}
